block vars
    -let title = "Main page"
    -let layout = "header.pug"

include _includes/header

h1 This is the main content.

button Here's a button!

.container
 h3 Look here, will you?
script(src="./js/main.js")